.container{
    color: black;
}
.rowAccount{
    background-color: #999;
    padding-top: 10px;
    padding-bottom: 10px;
}
.statsDiv{
    padding-top: 5%;
}
.tdStats{
    background-color: #BABABA;
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar{
    background-color: black;
}
.nav{
    background-color: black;
    border: solid 4px #ff8a00;
    border-radius: 10px;
    padding-top: 5px;
}
.form{
    text-align: center;
}
.item{
    background-color:gray;
    border: 2px solid black;
    margin:20px;
    font-size: 90%;
    text-align: center;
    font-weight: bold;
    color: black;
}
.form{
    background-color:#999;
    padding-top:10px;
    padding-bottom:10px;
}
.itemRowItems{
    margin: 10px;
    background-color:#999;
    font-size: 90%;
    text-align: center;
    font-weight: bold;
}
.item img{
    width: 100px;
    max-height: 100%;
}
.stattrak p{
    color: orange;
}
.trobat{
    background-color: #999;
    border: 2px solid black;
    margin-top: 2.5%;
    padding-bottom: 10px;
    margin-bottom: 2.5%;
}
#mid{
    background-color: gray;
}
#presentation{
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 1.1em;
}
#notifications{
    background-color: orange;
    border: 2px solid orange;
}
#newSearch{
    width: 90%;
    background-color: gray;
    background-size: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left:5%;
    margin-right: 5%;
}
#newTrade{
    width: 90%;
    background-color: gray;
    background: url("../img/arrow.png") no-repeat 50% 60%;
    background-size: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left:5%;
    margin-right: 5%;
}
#itemsUser{
    background-color: #999;
}
#itemsTrobats{
    background-color: gray;
    width: 90%;
    padding-bottom: 5%;
    margin-bottom: 10px;
    margin-left:5%;
}
#items{
    background-color: #999;
}
#tradeLink{
    background-color: gray;
    float: left;
    width: 100%;
    padding-right: 10px;
}
#idTrade{
    background-color: gray;
    text-align: center;
    margin-top: 5px;
}
#buttonTrade{
    float: right;
    border: 2px solid black;
    background-color: gray;
}
#buttonTrade:hover{
    border-radius: 25px;
    background-color: white;
}
#buttonTrade a:link{
    text-decoration: none;
    color: black;
}
#buttonTrade a:visited{
    text-decoration: none;
    color: black;
}
#leftUser{
    min-height: 120px;
}
#rightWeb{
    min-height: 120px
}
#tradeUser{
    background-color: #999;
}
#itemsbd{
    background-color: #999;
}
#itemsbd form{
    margin-left: 15%;
}
#right{
    float: right;
    width: 40%;
    border: 2px solid black;
    margin: 2%;
    min-height: 120px;
}
#left{
    float: left;
    width: 40%;
    border: 2px solid black;
    margin: 2%;
    min-height: 120px;
}
#spanTrade{
    display: inline-block;
    min-width: 96%;
    margin-top: 1%;
    margin-left: 2%;
    
}
#buttonNewTrade{
    float: right;
}
#tradelink{
    border-radius: 25px;
    margin-top: 1em;
    margin-bottom: 1.5em;
    background-color: #BABABA;
    text-align: center;
    padding: 1em;
}
body {
    background-color: #BABABA!important;
    }
#buttonEliminarTrade{
    padding-left: 5px;
    padding-right: 5px;
    float: right;
    border: 2px solid black;
    background-color: gray;
}
#buttonEliminarTrade:hover{
    border-radius: 25px;
    background-color: white;
}
#buttonEliminarTrade a:link{
    text-decoration: none;
    color: black;
}
#buttonEliminarTrade a:visited{
    text-decoration: none;
    color: black;
}
.clicked{
    border: 2px solid orange;
}
#logo{
    border-radius: 25px;
}
.itemsUserTrade{
    background-color: gray;
}
.itemsWebTrade{
    background-color: gray;
}